{
	# debug
	order replace after encode
	# 设置日志格式，info使用common log格式，error使用json格式
	log hf_access {
		include http.log.access.hf
		format transform `{request>headers>X-Forwarded-For>[0]:request>remote_ip} - {request>user_id} [{ts}] "{request>method} {request>uri} {request>proto}" {status} {size} "{request>headers>Referer>[0]}" "{request>headers>User-Agent>[0]}" "{request>headers>Content-Encoding}" "{request>headers>Accept-Ranges}"` {
			time_format wall
		}
		level DEBUG
		output stderr
	}
	log hf_error {
		include http.log.access.hf
		output stderr
		level ERROR
	}
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
import *.Caddyfile
